
PROJECT_NAME=Pay_system
APP_ENV=dev
APP_LOG_LEVEL=INFO

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PROTOCOL=redis
REDIS_PASSWORD=redis

POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=pay_system
POSTGRES_USER=app

SECRET_KEY=hgTVFjj2456nehe-2
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

GF_SECURITY_ADMIN_USER=admin1
GF_SECURITY_ADMIN_PASSWORD=admin1

ACQUIRING_START_URL=https://bank.api/acquiring_start
ACQUIRING_CHECK_URL=https:/bank.api/acquiring_check
